<ul class="nav navbar-nav navbar-right" style="margin-left: auto;">
    <li><a href="/">ToolCount</a></li>
    <li><a href="/inquiry-form">Inquiry Form</a></li>
    <li style="float: right;"><a href="login" class="fa fa-user-circle a-login ">  Login</a></li>
</ul>


  
  